<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">   
<head>          
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">  

<title>Welcome to KoolWallet!</title> 
<%= stylesheet_link_tag 'style' %>
<%= stylesheet_link_tag 'ui-theme' %> 
<%= javascript_include_tag :defaults %> 
</head>                
<body> 
	 <div class='container'> 
		<div id="header">
			<%=link_to image_tag('logo.png'),'/',:class => 'logo'%>
			<% if logged_in? %> 
			<div class='member_area'>
				 Hello, <%=link_to h(current_user.login),current_user%> | <%=link_to 'Log out',logout_path%>
			</div>
			<% else %>
			<% form_tag(session_path, {:class => "login"}) do %>
			    <%=label_tag 'login' %><%= text_field_tag 'login','',:class => 'medium text'%>
				<%=label_tag 'password' %><%= password_field_tag 'password','',:class => 'medium text'%>
				<%= submit_tag 'Submit',:class => 'medium submit grey'%>
			<% end -%>       
			<% end %>
		</div>
	   	<div id='content'>
			<div class="top_corners"></div>    
			<div class='content-main'>
				   <%= render :partial => '/shared/notice' %> 
			       <%= yield %>  
			</div>
      		<%=render :partial => 'shared/footer'%>
	</div>
</body>
</html>